<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-text">
      <a
        [routerLink]="['/recipes']"
        class="navbar-brand">Recipe Book
      </a>
    </div>
    <div class="navbar-text">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span
          class="navbar-toggler-icon"
          (click)="onMenuButtonClicked()">
        </span>
      </button>
    </div>
    <!--
    <div class="navbar-text">
      <button type="button" class="navbar-toggler" (click)="collapsed = !collapsed">
	      <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"></div>
    -->
    <div
      class="collapse navbar-collapse"
      [class.show]="showMenu"
      (window:resize)="showMenu = false">
      <ul class="navbar-nav nav-tabs mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/recipes']">Recipes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLinkActive="active"
            [routerLink]="['/shopping-list']">Shopping List
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle cursor-pointer"
            role="button"
            data-toggle="dropdown"
            (click)="onManageMenuClicked()">Manage <span class="caret"></span>
          </a>
          <ul
            class="dropdown-menu"
            [class.show]="showManageMenu">
            <li class="nav-item">
              <a
                class="nav-link cursor-pointer">Save Data</a>
            </li>
            <li class="nav-item cursor-pointer">
              <a
                class="nav-link">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
