<div class="row">
  <div class="col-12">
    <img
      src="{{ recipe.imagePath }}"
      alt="{{ recipe.description }}"
      class="img-fluid"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        (click)="onMenuClick()">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu" [class.show]="showMenu">
        <li class="nav-item"<a href="#" class="nav-link"></a>To Shopping List</li>
        <li class="nav-item"><a href="#" class="nav-link"></a>Edit Recipe</li>
        <li class="nav-item"><a href="#" class="nav-link"></a>Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-12">Ingredient</div>
</div>

