<div class="row">
  <div class="col-12">
    <img
      src="{{ recipe?.imagePath }}"
      alt="{{ recipe?.description }}"
      class="img-fluid"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        (click)="onMenuClick()">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu cursor-pointer" [class.show]="showMenu">
        <li
          class="dropdown-item"
          (click)="onAddToShoppingList()">
          <a
            class="dropdown-item-text"></a>To Shopping List
        </li>
        <li class="dropdown-item"
          (click)="onEditRecipe()">
          <a
            class="dropdown-item-text"></a>Edit Recipe
        </li>
        <li class="dropdown-item">
          <a
            class="dropdown-item-text"></a>Delete Recipe
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">{{ recipe?.description }}</div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe?.ingredients">
        {{ ingredient?.name }} - {{ ingredient?.amount }}
      </li>
    </ul>
  </div>
</div>

